### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

************************************************************************************************

## Player Count

* Display the total number of players

In [2]:
#Solving, first get Total Players,column SN
TotalPlayers=len(purchase_data['SN'].value_counts())
#Data Frame for Player Count
PlayerCount=pd.DataFrame({"Total Players":[TotalPlayers]})
PlayerCount

   Total Players
0            576

*****************************************************************************************

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
#Purchasing Analysis (Total)   using mean,sum
#Number of Unique Items 1rst column,usinf Field ID 
NumberUniqueItems=len(purchase_data['Item ID'].unique())
#Average Price
AveragePrice=purchase_data['Price'].mean()
#Number of Purchases
NumberofPurchases=purchase_data['Purchase ID'].count()
#Total Revenue
TotalRevenue=purchase_data['Price'].sum()
#Doing DataFrame for Purchasing Analysis (Total)
PurchasingAnalysis=pd.DataFrame({"Number of Unique Items":[NumberUniqueItems],
    "Average Price":AveragePrice,
    "Number of Purchases":NumberofPurchases,
    "Total Revenue":TotalRevenue})
#Format fields using map
PurchasingAnalysis["Average Price"]=PurchasingAnalysis["Average Price"].map("{:.2f}".format)
PurchasingAnalysis["Total Revenue"]=PurchasingAnalysis["Total Revenue"].map("{:,.2f}".format)
#show DataFrame
PurchasingAnalysis.index.name=None
PurchasingAnalysis

KeyError: '$'

*************************************************************************************

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Gender Demographics
#Gender group by
Gender=Genders=purchase_data.groupby('Gender')
#Total Count Unique Genders SN
GendersUnique=Genders.nunique()['SN']
#Percentage of Players
PercentageofPlayers=GendersUnique/TotalPlayers *100
#Create Data Frame Gender Demographics
GenderDemographics=pd.DataFrame({"Total Count":GendersUnique,"Percentage of Players": PercentageofPlayers})
#Putting off the label Gender for format
GenderDemographics.index.name=None
#Format columns with map
GenderDemographics["Percentage of Players"]=GenderDemographics["Percentage of Players"].map("{:.2f}%".format)
#show DataFrame
GenderDemographics.index.name="Gender"
GenderDemographics

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

*********************************************************************************************************


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
#Purchase Count (Operation over Price and Gender columns)
#Total of purchases over
PurchaseCount=Genders['Purchase ID'].count()
#Average (mean) of Purchases
AveragePurchasePrice=Genders['Price'].mean()
#Total (sum) purchase value
TotalPurchaseValue=Genders['Price'].sum()
#Doing average per person,Using total person unique 
#AveragePurchaseperPerson=AveragePurchasePrice/GendersUnique (sum)
AveragePurchaseperPerson=TotalPurchaseValue/GendersUnique
#Doing a DataFrame PurchasingAnalysisGender
PurchasingAnalysisG=pd.DataFrame({"Purchase Count": PurchaseCount,
"Average Purchase Price":AveragePurchasePrice,
"Total Purchase Value": TotalPurchaseValue,
"Avg Total Purchase per Person":AveragePurchaseperPerson})
PurchasingAnalysisG["Average Purchase Price"]=PurchasingAnalysisG["Average Purchase Price"].map("${:,.2f}".format)
PurchasingAnalysisG["Total Purchase Value"]=PurchasingAnalysisG["Total Purchase Value"].map("${:,.2f}".format)
PurchasingAnalysisG["Avg Total Purchase per Person"]=PurchasingAnalysisG["Avg Total Purchase per Person"].map("${:,.2f}".format)
PurchasingAnalysisG.index.name="Gender"
PurchasingAnalysisG

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

****************************************************************************************

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#Age Demographics
#create bins,adding one more value than group_names ...sending error, taking exactly ranges
bins=[0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,9999]
#bins=[0,10,15,20,25,30,35,40,9999]
#create labels for these bins #add one more register
group_names=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
#DataFrame with Bins  
#Age Ranges=pd.DataFrame(purchase_data_u)
purchase_data['Age Ranges']=pd.cut(purchase_data['Age'],bins=bins,labels=group_names)
purchase_data
#DataFrame with all Ages using groupby #AgesGroup
AgesGroup=purchase_data.groupby('Age Ranges')
#TotalCount from DF
TotalAgesCount=AgesGroup['SN'].nunique() 
#Doing percentage player  Using totalÂ´s above  ***check TotalAgesCount
#Percentage of Players
PercentagePlayers=(TotalAgesCount/TotalPlayers)*100
#Final DataFrame Age Demographics
AgeDemographics=pd.DataFrame({"Total Count":TotalAgesCount,"Percentage of Players":PercentagePlayers})
# format DF using style
AgeDemographics.index.name=None
AgeDemographics.style.format({"Percentage of Players":"{:.2f}%"})
# show DataFrame AgeDemographics

********************************************************************************************

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Purchasing Analysis Age
#Purchase Count Age
PurchaseCountAge=AgesGroup['Purchase ID'].count()
#Average Purchase Price (mean $) 
AveragePurchasePrice=AgesGroup['Price'].mean()
#Total Purchase Value (sum Price $)
TotalPurchaseValue=AgesGroup['Price'].sum()
#Avg Total Purchase per Person 
#TotalAgesCount for average
AvgTotalPurchaseperPerson=TotalPurchaseValue/TotalAgesCount
#Final DataFrame PurchasingAnalysisAge
PurchasingAnalysisAge=pd.DataFrame({"Purchase Count": PurchaseCountAge,
"Average Purchase Price": AveragePurchasePrice,
"Total Purchase Value": TotalPurchaseValue,"Avg Total Purchase per Person":AvgTotalPurchaseperPerson})
#PurchasingAnalysisAge
# format DF using style
PurchasingAnalysisAge.style.format({"Average Purchase Price":"${:,.2f}",
"Total Purchase Value":"${:,.2f}","Avg Total Purchase per Person":"${:,.2f}"})

***********************************************************************************************

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#Top Spenders
#Purchase Data with SN column
#Grouping using SN field,purchase_data base
SpenderSN=purchase_data.groupby('SN')

#TopSpenders=pd.DataFrame[('AveragePurchasePrice').groupby['SN']]
#Purchase Count Spender from Spender SN Groupby   adding "Purchase ID" field
PurchaseCountSpender=SpenderSN['Purchase ID'].count()

#Average Purchase Price Price field (mean) groupby
AveragePurchasePriceSpender=SpenderSN['Price'].mean()

#Total Purchase Value (sum),Price field
TotalPurchaseValueSpender=SpenderSN['Price'].sum()

#Top Spender Doing the DataFrame

TopSpender=pd.DataFrame({"Purchase Count": PurchaseCountSpender,
                         "Average Purchase Price": AveragePurchasePriceSpender,
                         "Total Purchase Value": TotalPurchaseValueSpender })
#TopSpender  ***check se pasa a segundo plano 

#Sort in descdending by the columns Total Purchase Value , from the DataFrame + to -,
SortTopSpender=TopSpender.sort_values(["Total Purchase Value"],ascending=False).head()
#SortTopSpender

#Using again style instead of map for nice format, but over the new one SortTopSpender
SortTopSpender.style.format({"Average Purchase Price":"${:.2f}","Total Purchase Value":"${:,.2f}"})

********************************************************************************************************************

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#Most Popular Items
#Making group by using fields Item ID, Item Name using Boths and aslso Price
#DAtaframe Items
Items=purchase_data[['Price','Item ID','Item Name']]

#Items field Item ID, Item Data
GroupItems=Items.groupby(['Item ID','Item Name'])
#GroupItems

#Count Items by field  Price (count)
PurchaseCountItems=GroupItems['Price'].count()
#PurchaseCountItems

#Total Purchase Value  Item about group by (sum)
PurchaseValueItem=GroupItems['Price'].sum()
PurchaseValueItem

#Item Price
#out of group by Price por Item
ItemPrice=PurchaseValueItem/PurchaseCountItems
#ItemPrice

#DataFrame Most Items
MostPopularItems=pd.DataFrame({"Purchase Count": PurchaseCountItems,
                               "Item Price":ItemPrice,
                               "Total Purchase Value": PurchaseValueItem })
#MostPopularItems
#Again Sort the purchase count column in descending order
SortMostPopularItems=MostPopularItems.sort_values(["Purchase Count"],ascending=False).head()
#SortMostPopularItems

#Using again style instead of map for nice format, but over the new one SortMostPopularItems
SortMostPopularItems.style.format({"Item Price":"${:.2f}","Total Purchase Value":"${:,.2f}"})

***************************************************************************************************

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
##Most Profitable Items
#Using same DataFrame just change with the column wih the Value
MostProfitableItems=pd.DataFrame({"Purchase Count":PurchaseCountItems,
"Item Price":ItemPrice ,
"Total Purchase Value":PurchaseValueItem})
#MostProfitableItems
#Sort by Total Purchase Value
SortMostProfitableItems=MostProfitableItems.sort_values(["Total Purchase Value"],ascending=False).head()
#SortMostProfitableItems
#Using again style instead of map for nice format, but over the new one SortMostPopularItems
SortMostProfitableItems.style.format({"Item Price":"${:.2f}","Total Purchase Value":"${:,.2f}"})

***********************************************************************************************************

# **Observable Trends by Luz Yllescas**

* This is a little sample but even of that we can see in the numbers by gender that is more male players , but even of that the female spend almost the same quantity.This shows that there may be a hidden market niche since the average tells us that the female gender spends a little more but it may be that there are no more games targeted for the female gender.

* Reviewing by age it can be seen clearly who occupies the gaming market, being the young people between 20 and 24 years old who almost occupy half of the sample and cover the largest amount of purchases.

* We can also see that the largest buyer is 5 items, and the interesting thing is that it coincides that the most popular game is the most profitable, which may suggest that possibly making a part 2 or a similar version may have a guarantee on sales.

************************************************************************************************************